/* reseteo universal */

*{
    border: 0;
    margin: 0;
    /* relleno */
    padding: 0;
}
 @font-face {font-family:"Dancing Script";
 src:url("fonts/Dancing_Script.ttf") format("truetype");
 font-weight:normal;
 font-style:normal;
}
body{
	background: #02010a;
	font-family: Dancing Script;
	font-weight: bold;
}
.contenido{
	display: block;
	max-width: 900px;
}
header{
	display: block;
	background: #5b7989;
	height: 100px;
	color: White;
	text-shadow: 2px 2px #02010a;
	border-radius:10px 10px 0px 0px;
	line-height: 75px;
}
.log{
	display: block;
	float: left;
	padding-left: 20px;
}
nav{
	display: block;
	float: right;
	line-height: 50px;
	font-size: 24px;
}
header nav ul {
	list-style:none;
}


header nav ul li {
	display:inline-block;
	position: relative;
	font-weight: bold;
}

header nav a{
	color: White;
	padding: 0px 10px;
	line-height: 75px;
}
header nav ul li a:hover {
	text-decoration: none;
}

.imgCentral{
	display: block;
	background: #82c3a6;
	padding: 50px;

}

img{
	width: 100%;
	box-shadow: 4px 4px 4px #02010a;

}
.imgSecundaria{
	display: block;
	background: #d5c75f;
	width: 100%;
}
figure.img1,figure.img2{
	display: inline-block;
	width: 40%;
	padding: 40px;
	vertical-align: top;
	margin: auto;
}

.imgen1{
	border: 2px solid  #02010a;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}
.imgen1:hover {
		border: 2px solid #82c6a6;
		-webkit-box-shadow: 4px 4px 4px #82c6a6;
	-moz-box-shadow: 4px 4px 4px #82c6a6;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	transform: rotate(10deg);
}

.imgen2{
	border: 2px solid  #02010a;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;

}

.imgen2:hover
{
-webkit-box-shadow: 4px 4px 4px #82c6a6;
-webkit-transform: translatey(5px);
transform: translatey(5px);
-webkit-transform: translatex(20px);
transform: translatex(20px);
}


div.columna1,div.columna2,div.columna3,div.columna4{
	display: inline-block;
	width: 21%;
	padding: 10px;
	text-align: left;
	vertical-align: top;
}

a{
	color: black;

}
div.columna3 ul li{
	list-style: none;

}
div.columna3 ul li img{
	width: 30px;
	box-shadow: none;

}
footer{
	display: block;
	background: #C6d5c5;
	width: 100%;
	border-radius: 0 0 10px 10px;
}



/* estos estilos son de la pagina paisajes */


figure.img01,figure.img02,figure.img03,figure.img04,figure.img05,figure.img06{
	display: inline-block;
	width: 25%;
	padding: 20px;
	vertical-align: top;
	margin: auto;
}

.img01{
  filter: blur(10px);
}
figure.img02,figure.img04,figure.img06 {
filter: grayscale(100%);
}
figure.img03{
  filter: sepia(90%);
}

@media screen and (max-width: 900px){
	body{
		width: 100%;
	}
	.contenido{
		width: 100%;

	}
	header{
		width: 100%;
		height: 150px;
	}

	.log{

		float: none;;
		padding-left: 0;
	}

	nav{
		width: 100%;
	}
	.imgCentral{
		width: 100%;
		padding: 0;
	}
	.imgC{
		width: 90%;
		margin: 20px;
	}
	figure.img1,figure.img2{
		display: inline-block;
		width: 70%;
		padding: 20px;
		vertical-align: top;
		margin: auto;
	}

	footer{
		width: 100%;
	}
	div.columna1,div.columna2,div.columna3,div.columna4{
		width: 50%;
	}

  figure.img01,figure.img02,figure.img03,figure.img04,figure.img05,figure.img06{
  	width: 90%;
  	padding: 20px;
  	vertical-align: top;
  	margin: auto;
  }


}



/* estos estilos son de la pagina retratos */


figure.img001,figure.img002,figure.img003,figure.img004,figure.img005,figure.img006{
	display: inline-block;
	width: 25%;
	padding: 20px;
	vertical-align: top;
	margin: auto;
}

.img001{
  filter: blur(10px);
}
figure.img002,figure.img004,figure.img006 {
filter: grayscale(100%);
}
figure.img003{
  filter: sepia(90%);
}

@media screen and (max-width: 900px){
	body{
		width: 100%;
	}
	.contenido{
		width: 100%;

	}
	header{
		width: 100%;
		height: 150px;
	}

	.log{

		float: none;;
		padding-left: 0;
	}

	nav{
		width: 100%;
	}
	.imgCentral{
		width: 100%;
		padding: 0;
	}
	.imgC{
		width: 90%;
		margin: 20px;
	}
	figure.img1,figure.img2{
		display: inline-block;
		width: 70%;
		padding: 20px;
		vertical-align: top;
		margin: auto;
	}

	footer{
		width: 100%;
	}
	div.columna1,div.columna2,div.columna3,div.columna4{
		width: 50%;
	}

  figure.img001,figure.img002,figure.img003,figure.img004,figure.img005,figure.img006{
  	width: 90%;
  	padding: 20px;
  	vertical-align: top;
  	margin: auto;
  }


}

